In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('dataset/machine.data',
        names=['vendor', 'model', 'MYCT', 'MMIN', 'MMAX',
               'CACH', 'CHMIN', 'CHMAX', 'PRP', 'ERP'])

In [12]:
df

      vendor          model  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0    adviser          32/60   125   256   6000   256     16    128  198  199
1     amdahl         470v/7    29  8000  32000    32      8     32  269  253
2     amdahl        470v/7a    29  8000  32000    32      8     32  220  253
3     amdahl        470v/7b    29  8000  32000    32      8     32  172  253
4     amdahl        470v/7c    29  8000  16000    32      8     16  132  132
..       ...            ...   ...   ...    ...   ...    ...    ...  ...  ...
204   sperry           80/8   124  1000   8000     0      1      8   42   37
205   sperry  90/80-model-3    98  1000   8000    32      2      8   46   50
206   sratus             32   125  2000   8000     0      2     14   52   41
207     wang         vs-100   480   512   8000    32      0      0   67   47
208     wang          vs-90   480  1000   4000     0      0      0   45   25

[209 rows x 10 columns]